/*
    CSS styles for calculator
    Color scheme: https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.content {
    background-color: #ADE8F4;
    color: #03045E;
    font-family: 'Roboto Mono', monospace;
}

.heading {
    text-align: center;
}

.calc-input {
    caret-color: transparent;
}

.calc-input:focus {
    outline: none;
}