/*
    CSS styles for calculator
    Color scheme: https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.content {
    background-color: #ADE8F4;
    color: #03045E;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
}

.calc-input {
    caret-color: transparent;
}

.calc-input:focus {
    outline: none;
}

.display-box input {
    text-align: center;

}

.calc-body {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.calc-row {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.calc-button {
    flex: 1;
    font-size: large;
}

.calc-input-main {
    font-size: xx-large;
}

.calc-input-buffer {
    font-size: large;
}

.calc-input-buffer,
.calc-input-main {
    flex: 1;
    text-align: right;
    padding: 20px;
}